@page "/albumInfo"
@using Chinook.Models
@using Chinook.DAL
@inject IRepository repository
@rendermode InteractiveServer
<div class="d-flex gap-3 flex-column justify-content-center align-items-center w-100 p-4 border border-dark rounded-3 container" style="max-width:1200px;">
	<h2 class="text-center text-black px-4 py-2 rounded-2">Album info</h2>

	<div class="d-flex gap-2 flex-row justify-content-center align-items-center w-100 fs-5">
		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.PrevArtist)">
			Previous
		</button>

		<label class="flex-grow-1 border border-dark rounded-3 text-black d-flex align-items-center justify-content-center shadow-sm" style="height: 45px; min-width: 200px;">
			<span class="fw-bold">@(artistModel.GetArtistInfo())</span>
		</label>

		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.NextArtist)">
			Next
		</button>
	</div>

	<div class="d-flex gap-2 flex-row justify-content-center align-items-center w-100 fs-5">
		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.PrevAlbum)">
			Previous
		</button>

		<label class="flex-grow-1 border border-dark rounded-3 text-black d-flex align-items-center justify-content-center shadow-sm" style="height: 45px; min-width: 200px;">
			@if (model.MusicModel.AlbumInfo.Tracks == null)
			{
				<span>No Data</span>
			}
			else
			{
				<span class="fw-bold">@(artistModel.GetAlbumInfo())</span>
			}
		</label>

		<button type="button" class="btn btn-outline-dark shadow-lg px-4" @onclick="()=>BuildModel(op:Repository.Operation.NextAlbum)">
			Next
		</button>
	</div>
</div>
<table class="table m-4">

	<thead>
		<tr>
			<th scope="col">artistName</th>
			<th scope="col">Track name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody class="">

		@if (model.MusicModel.AlbumInfo.Tracks == null)
		{
			<tr>
				<td>No Data</td>
				<td>No Data</td>
				<td>No Data</td>

			</tr>
		}
		else
		{
			@foreach (var tracks in model.MusicModel.AlbumInfo.Tracks)
			{
				<tr>
					<td>@ArtistName</td>
					<td>@tracks.Name</td>
					<td>@tracks.UnitPrice$</td>

				</tr>

			}}
	</tbody>
</table>
@code {
	private ArtistModel model = new();
	ArtistModel artistModel = new();
	//Repository repository = new();

	
	string ArtistName => model.MusicModel.ArtistInfo.Name;

	protected override void OnInitialized()
	{
		model = repository.BuildModel(artistModel);

	}

	ArtistModel BuildModel(Repository.Operation op)
	{
		model = repository.BuildModel(artistModel, operation: op);
		return model;
	}
}
