@page "/albumInfo"
@using Chinook.Models
@using Chinook.DAL
@rendermode InteractiveServer
@{
	var model = artistModel.BuildModel(context);
	artistName = model.ArtistInfo.Name;
	albumName = model.AlbumInfo.Name;
	i = 1;
}
<div class="d-flex gap-3 flex-column justify-content-center align-items-center w-100 p-4 border border-dark rounded-3 container" style="max-width: 700px;">
	<h2 class="text-center text-black text-black px-4 py-2 rounded-2 ">Album info</h2>
	<div class="d-flex gap-1 flex-row justify-content-around h-50 w-100">
		<button type="button" class="btn btn-outline-dark shadow-lg" @onclick="ArtistInfoControl_onPrev">Previous </button>
		<label class="w-75 border border-dark rounded-3 text-black rounded-2 d-flex align-items-center justify-content-center" style="height: 40px;">
			@artistName @(@model.ArtistInfo.Current+1)/@model.ArtistInfo.Max
		</label>
		<button type="button" class="btn btn-outline-dark shadow-lg" @onclick="ArtistInfoControl_OnNext">Next</button>
	</div>

	<div class="d-flex gap-1 flex-row justify-content-between h-50 w-100">
		<button type="button" class="btn btn-outline-dark shadow-lg" @onclick="AlbumInfoControl_onPrev">Previous</button>
		<label class="w-75 border border-dark rounded-3 text-black rounded-2 d-flex align-items-center justify-content-center" style="height: 40px;">
			@if (model.Tracks == null)
			{
				<span>No Data</span>
			}else
			{
				@($"{albumName} {model.AlbumInfo.Current + 1} / {model.AlbumInfo.Max}")
			}
		</label>
		<button type="button" class="btn btn-outline-dark shadow-lg" @onclick="AlbumInfoControl_OnNext">Next</button>
	</div>
</div>
<table class="table m-4">

	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">artistName</th>
			<th scope="col">Track name</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody class="">

		@if (model.Tracks == null)
		{
			<tr>
				<th scope="row">1</th>
				<td>No Data</td>
				<td>No Data</td>
				<td>No Data</td>

			</tr>
		}
		else
		{
			@foreach (var tracks in model.Tracks)
			{
				<tr>
					<th scope="row">@i</th>
					<td>@artistName</td>
					<td>@tracks.Name</td>
					<td>@tracks.UnitPrice$</td>

				</tr>
				i++;
			}}
	</tbody>
</table>
@code {
	int i = 1;
	string albumName = "";
	string artistName = "";
	ArtistContext context = new();
	ArtistModel artistModel = new();


	protected override void OnInitialized()
	{
		var model = artistModel.BuildModel(context);
		artistName = model.ArtistInfo.Name;
		albumName = model.AlbumInfo.Name;
	}



	public void AlbumInfoControl_onPrev()
	{

		artistModel.CurrentAlbumIndex--;
		if (artistModel.CurrentAlbumIndex < 0)
		{
			artistModel.CurrentAlbumIndex = artistModel.MaxAlbumIndex - 1;
		}

	}

	public void AlbumInfoControl_OnNext()
	{
		artistModel.CurrentAlbumIndex++;
		if (artistModel.CurrentAlbumIndex == artistModel.MaxAlbumIndex)
		{
			artistModel.CurrentAlbumIndex = 0;

		}

	}

	public void ArtistInfoControl_onPrev()
	{
		artistModel.CurrentArtistIndex--;
		artistModel.CurrentAlbumIndex = 0;
		if (artistModel.CurrentArtistIndex < 0)
		{
			artistModel.CurrentArtistIndex = artistModel.MaxArtistIndex - 1;
		}

	}

	public void ArtistInfoControl_OnNext()
	{
		artistModel.CurrentArtistIndex++;
		artistModel.CurrentAlbumIndex = 0;
		if (artistModel.CurrentArtistIndex == artistModel.MaxArtistIndex)
		{
			artistModel.CurrentArtistIndex = 0;
		}
	}


}
